nav ul {
    list-style: none;
    display:flex;
    justify-content: flex-end;
    padding: 20px;
}

nav ul a {
    padding: 20px 30px;
    font-size: 20px;
    /* color:rgb(92, 75, 75) */
    color: rgb(225, 167, 177);
}

nav ul a:hover {
    color: #7e4847;
}